body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
                repeating-linear-gradient(45deg, #ccc, #ccc 10px, #666 10px, #666 20px);
}

h1, p {
    z-index: 1;
    position: relative;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 3em;
}

section {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
}

.contact-section {
    background-color: #f4f4f4;
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Añade estas reglas para el menú y la barra de navegación */

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Posicionamiento relativo para dispositivos móviles */
    width: 100%;
    z-index: 1000; /* Z-index para estar encima de otros elementos */
}

.logo {
    color: #fff;
    font-size: 1.5em;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Agrega estilos específicos para dispositivos móviles */

/* Añade estilos específicos para dispositivos móviles */

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        margin-top: 10px;
        background-color: #333;
        width: 100%;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .hero {
        padding-top: 70px;
        background-position: top;
    }
}

/* Nueva regla para anclar la barra de navegación al hacer scroll */
.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}